#hero{
    color: green;
}
#star{
    color:yellow;
}
#titan{
    color:red;
}
#sprits{
    color:blue;
}
#red{
    color:red;
}
#punch{
    color:gray;
}
#volleyball{
    color:orange;
}
#ice{
    color:lightblue;
}
#dragons{
    color:violet;
}